<table class="data-table">
  <thead>
    <tr>
      <th>Revision</th>
      <th>committer</th>
      <th>Date</th>
      <th>NFunctions</th>
    </tr>
  </thead>
  <tbody>
    <% @metrics.each do |metric| %>
      <tr>
        <td><%= metric.file.file_name %></td>
        <td><%= metric.commit.committer.name %></td>
        <td><%= metric.commit.date.strftime("%m/%d/%Y") %></td>
        <td><%= metric.nfunctions %></td>
      </tr>
    <% end %>
  </tbody>
</table>