<h2>Bad Smell by Number of Methods</h2>
<p>This feature shows the files that in any of the commits that it has been modified, its number of methods was greater than a limit (typed by the user)</p>

<div class="filters">
  <%= form_tag bad_smell_by_nfunctions_filtered_path %>
    <%= render 'shared/repositories_selector', repositories: @repositories %>
    <%= render 'shared/limit_text_input', limit: 10 %>
    <%= render 'shared/filter_restults_btn' %>
  </form>
</div>


<div class="filter_results clear"></div>

