<% @files.each do |file| %>
  <h3><%= file.file_name %></h3>
  <table>
    <thead>
    <tr>
      <th>Revision</th>
      <th>Date</th>
      <th>Commiter</th>
    </tr>
    </thead>
    <tbody>

    <% file.commit_history.each do |commit| %>
      <tr>
        <td><%= commit.rev %></td>
        <td><%= commit.date %></td>
        <td><%= commit.commiter.name rescue '' %></td>
      </tr>
    <% end %>

    </tbody>
  </table>
  <br>
<% end %>
