<p><%= link_to "Admin", "/admin" %></p>
<p><%= link_to "Files History", files_history_path %></p>
<p><%= link_to "Bad Smell Files by SLOC", bad_smell_by_sloc_path %></p>
<p><%= link_to "Bad Smell Files by Number of Methods", bad_smell_by_nfunctions_path %></p>