<h2>Results</h2>

<div id='chart'></div>
<%= render_chart(@chart, 'chart') %>
<br>

<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>LOC</th>
    <th>SLOC</th>
  </tr>
  </thead>
  <tbody>
  <% @commits.each do |commit| %>
    <tr>
      <td><%= commit.date %></td>
      <td><%= commit.loc.to_i %></td>
      <td><%= commit.sloc.to_i %></td>
    </tr>
  <% end %>
  </tbody>
</table>