<h2>Bad Smell by SLOC</h2>
<p>This section shows the files that in any of the commits that it has been modified, its SLOC was greater than a limit (typed by the user)</p>

<div class="filters">
  <%= form_tag bad_smell_by_sloc_filtered_path, class: 'feature-form' %>
    <%= render 'shared/repositories_selector', repositories: @repositories %>
    <%= render 'shared/limit_text_input', limit: 100 %>
    <%= render 'shared/filter_restults_btn' %>
  </form>
</div>

<div class="filter_results clear"></div>