/* Flatly 2.3.1
 * Bootswatch
 *= require_self
 *= require flatly/loader
 *= require _font-awesome
*/

.container-login {
    width: 300px;
    height: 260px;
    margin: 0 auto;
}

.container-fluid table td, .container-fluid table th{
    padding-right: 28px;
    text-align: center;
}
