html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

select {
  border-width: 2px;
}

select, input[type="file"] {
  height: 39px;
  line-height: 39px;
}

.container-fluid {
  margin-bottom: 20px;
}

.filter_results{
    margin-top: 10px;
}
.filter{
    float: left;
    padding-right: 3px;
}

.clear{
    clear:both;
}

.btn {
  margin-top: 15px;
  text-align: center;
  background-color: #007fff;

  &:hover {
    background-color: #0044cc;
  }
}

.filter_results_btn {
  width: 75px;
  height: 37px;

  i.fa {
    font-size: 19px;
    line-height: 19px;
  }
}

.filter_results_btn[disabled]{
  cursor: not-allowed;
}

.filter_results_btn[disabled]:hover{
  background-color: #5faee3
}

.navbar .navbar-inner {
  border-radius: 0;
}

.container-fluid table td, .container-fluid table th {
  text-align: left;
}

.dataTables_wrapper {
  .dataTables_length select, .dataTables_filter input {
    margin-top: 7px;
  }

  .dataTables_length select {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  border-width: 2px;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border: 2px #007fff solid;
  background: none;
  color: #007fff !important;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #007fff;
  border: 2px #007fff solid;
  box-shadow: none;
}